*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

/* Utils */
a.white{
    color: white;
    text-decoration: none;
    font-size: large;
}

.white{
    color: white;
}

.flex{
    display: flex;
}

.buttons-border{
    background-color: white;
    padding: 20px 44px;
    border: none;
    border-radius: 40px;
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
}

h3{
    font-size: 2.5rem;

}

/* first header */
.first-header{
    height: 120px;
    background-color: #255EE9;
    padding-top: 40px;
}

.fh-flex{
    display: flex;
    width: 1600px;
    height: 50px;
    margin: 0 auto;
}

.fh{
    height: 50px;
}

.fh-left{
    background-image: url('../img/logo.svg');
    background-size: contain;
    background-size: 40%;
    background-repeat: no-repeat;
    flex-basis: 25%;
    height: 60px;
    cursor: pointer;
}

.fh-center{
    flex-basis: 50%;
    padding: 10px;
    justify-content: space-between;
}

.fh-right{
    flex-basis: 25%;
    justify-content: flex-end;
    align-items: flex-start;
}

a.login{
    color: black;
    text-decoration: none;
    font-size: large; 
    background-color: white;
    border-radius: 30px;
    padding: 12px 20px;
}

/* second header */
.second-header{
    background-image: url('../img/jumbo.png');
    background-size: cover;
    height: 800px;
    padding-top: 200px;
    background-color: #255EE9;
}

.sh{
    width: 50%;  
    margin: 0 auto;
    height: 400px;
}

h1{
    text-align: center;
    font-size: 5rem;
}

p.white{
    text-align: center;
    padding: 30px 0;
    font-size: 2rem;
    line-height: 50px;
}

.header-buttons{
    justify-content: center;
    gap: 40px;
}

.browser{
    background-color: #23272A;
    color: white;
}

/* main */
.technology{
    height: 1000px;
}

.tech-flex{
    display: flex;
    width: 1600px;
    margin: 0 auto;
    height: 1000px;
    justify-content: center;
    align-items: center;
}

.tech-left{
    flex-basis: 60%;
    height: 600px;
    /* border: 2px dashed black; */
}

.channels-img{
    background-image: url('../img/item1.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

h2.main-h2{
    color: #23272A;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 40px;
}

p.main-p{
    font-size: 1.5rem;
    line-height: 40px;
}

.friends-img{
    background-image: url('../img/item2.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.tech-right{
    flex-basis: 40%;
    min-height: 600px;
    padding: 40px;
    padding-bottom: 0;
    /* background-color: pink;
    border: 2px dashed black; */
}


.community-img{
    background-image: url('../img/item3.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.tech-flex-reverse{
    display: flex;
    width: 1600px;
    margin: 0 auto;
    height: 1000px;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.grey-technology{
    height: 1000px;
    background-color: #F6F6F6;
}


/*  last technology */
.last-technology{
    height: 1800px;
    background-color: #F6F6F6;
    padding: 200px;
}

.big-square{
    height: 800px;
    width: 1600px;
    margin: 0 auto;
    /* background-color: #dca7ff;
    border: 2px dashed white; */
}

.tac{
    text-align: center;
}

.big-img{
    background-image: url('../img/item4-big.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 1000px;
    width: 1600px;
    margin: 0 auto;
}

.stars{
    height: 80px;
    width: 750px;
    margin: 0 auto;
    background-image: url('../img/stars.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

h3.main-h3{
    color: #23272A;
    text-align: center;
    padding-bottom: 50px;
}

.purple{
    justify-content: center;
}

.purple-download{
    background-color: #8EA1E1;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 40px;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

/* footer top*/
.ft-container{
    height: 600px;
    background-color: rgb(49, 49, 49);
}

.ft-flex{
    display: flex;
    width:1200px;
    margin: 0 auto;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.ft-content-left{
    flex-basis: 30%;
    height: 500px;
    background-color: rgb(255, 110, 110);
    border: 2px dashed white;
}

.ft-content-prodotto{
    flex-basis: calc(70% / 4);
    height: 500px;
    background-color: rgb(177, 109, 255);
    border: 2px dashed white;
}


/* footer bottom */
.fb-container{
    height: 200px;
    background-color: rgb(49, 49, 49);
}

.fb-flex{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.fb-content{
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    height: 50px;
    background-color: rgb(255, 255, 146);
    border: 2px dashed black;
}

.content-left{
    flex-basis: 20%;
    height: 50px;
    background-color: rgb(118, 255, 171);
    border: 2px dashed black;
}
.content-right{
    flex-basis: 20%;
    height: 50px;
    background-color: rgb(118, 255, 171);
    border: 2px dashed black;
}